<div class = "panel panel-default"> 
  <div class = "panel-heading"><h2>Sign up</h2></div>
  <div class = "panel-body">

<h1>Editing Pin</h1>

<%= render 'form' %>

<div class = "panel-footer">
<%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %>
</div>