
<h1> About us...</h1>
<div class ="jumbotron">
<p>This is the perfect website to waste endless amount of time planning a wedding that doesn't exist yet</p>
</br> 
<p>A Ruby On The Beach production. This product was locally sourced from Ubud, Baliiiii</p>
<p>COPYRIGHT Capt. Morgante</p>
</div>